.home {
    text-align: center;
    position: relative;
}

.home-title {
    margin-bottom: 50px;
    font-size: 45px;
}

.home-text {
    position: absolute;
    top: 150px;
    left: 18%;
    color: white;
    font-size: 60px;
}

.carousel-box {
    width: 100%;
    height: 100%;
    margin-top: 60px;
}

.carousel-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    background-position: center;
}

.carousel-min_box {
    width: 450px;
    height: 450px;
    border: 1px solid greenyellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 20px;
}
ul {
    list-style-type: none;
    text-decoration: none;
}

.login-btn.first {
    margin-right: 50px;
}

.btn-box {
    margin-top: 20px;
}

#text {
    color: #68e183;
    text-shadow: 1px 1px 2px yellow;
}